.telemetry_overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.top_row,
.center_row,
.bottom_row
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.center_row {
  flex: 1;
  min-height: 0;
  align-items: center;
}

.bottom_row {
  justify-content: center;
}

.telemetry_overlay article {
    position: relative;
    background-image: radial-gradient(
        ellipse at bottom, 
        hsla(var(--blue-hue), 100%, 50%, 0.1), 
        hsla(var(--blue-hue), 100%, 50%, 0.0)
    );
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
        to top,
        hsla(var(--blue-hue), 100%, 50%, 0.4), 
        hsla(var(--blue-hue), 100%, 50%, 0.2)
    );
    box-shadow: 0 0px 30px hsla(var(--blue-hue), 100%, 20%, 0.1);

}

.section_label {
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.8;
  font-size: 0.7rem;
}


.telemetry_backgrounds {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.panel_bg {
  position: absolute;
}

@keyframes panelSlide {
  to {
    transform: scaleX(1.0) translate(0, 0);
  }
}

.upper_bg_rear,
.upper_bg_front {
  top: -1px;
  transform: scaleX(0.7) translate(0, -100%);
  animation: 500ms 50ms 1 panelSlide var(--ease-out-expo) forwards;
}

.lower_bg_rear,
.lower_bg_front {
  bottom: -1px;
  transform: scaleX(1.3) translate(0, 100%);
  animation: 500ms 50ms 1 panelSlide var(--ease-out-expo) forwards;
}

.upper_bg_front,
.lower_bg_front{
  animation-delay: 150ms;
}

.upper_bg_front {
  top: -2px;
}
.lower_bg_front {
  bottom: -2px;
}

.upper_bg_rear path,
.lower_bg_rear path {
  fill: #111;
  fill-opacity: 0.5;
  stroke-width: 1px;
  stroke: var(--primary-color);
}

.upper_bg_front path,
.lower_bg_front path{
  fill: #353535 !important;
  fill-opacity: 0.8;
}

.upper_bg_front_modeswitch {
  width: 40vw;
  left: 30vw; 
}


.upper_bg_front_modeswitch path {
  fill-opacity: 0.2;
  stroke: var(--primary-color);
  stroke-opacity: 1.0;
}